@import url('https://fonts.googleapis.com/css2?family=Poppons:wght@100;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #488AC7;
}

a{
    color: #000;
    text-decoration: none;
}



#card{
    max-width: 20em;
    flex-direction: row;
    background-color: rgb(3, 34, 100);
    border-radius: 2em;
}
#card #card-body{
    display: flex;
    justify-content: space-between;
}

#card #card-body h5{
    color: rgb(250, 250, 250);
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.cont1{
    background:linear-gradient(45deg, blueviolet, lightgreen);
    padding:15px 9%;
    padding-bottom: 100px;
}

.cont1 .heading{
    text-align: center;
    padding-bottom: 15px;
    color:#fff;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}

.cont1 .box-cont1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
}

.cont1 .box-cont1 .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding:30px 20px;
}

.cont1 .box-cont1 .box img{
    height: 80px;
}

.cont1 .box-cont1 .box h3{
    color:#444;
    font-size: 22px;
    padding:10px 0;
}

.cont1 .box-cont1 .box p{
    color:#777;
    font-size: 15px;
    line-height: 1.8;
}

.cont1 .box-cont1 .box .btn{
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.cont1 .box-cont1 .box .btn:hover{
    letter-spacing: 1px;
}

.cont1 .box-cont1 .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}

@media (max-width:768px){
    .cont1{
        padding:20px;
    }
}
